.button-secondary {
  background-color: transparent;
  font-weight: normal;
}

.button-secondary:hover {
  text-decoration: underline;
}

.button-secondary img {
  margin-right: var(--space-small);
}
