.image-chooser input[type="file"] {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.image-chooser img {
  --size: 40px;

  width: var(--size);
  height: var(--size);
  background-color: var(--grey-4);
  vertical-align: middle;
  border-radius: 4px;
}
