.button-main {
  min-height: 56px;
  background-color: var(--color-blue);
  border: none;
  border-radius: 500px;
  padding: 0 var(--space-big);
  color: white;
  font-family: var(--font-family);
  font-weight: bold;
}

.button-main:hover {
  text-decoration: underline;
}
